<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
    

<div class="login-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Enjoy free and unlimited use between friends. <br><br>
    Make your own video conferencing on your web browser and <br> 
    get connected with them!

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="/auth/facebook" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      LOGIN WITH FACEBOOK
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

</main>
</div>


  